<footer id="footer" style="margin-bottom: 0px; width: 100%;">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div>&copy;Wanderlust-Your Final Destination. </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>