<%- layout("/layouts/boilerplate") %>
    <style>
        .signup_form {
            background: #fff;
            width: 40%;
            margin: auto;
            padding: 30px;
            border-radius: 5px;
            margin-top: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            /* more stying */
            font-family: rakkas;
            color: #333;
        }
    </style>
    <div class="signup_form">
        <div class="row mt-3">
            <div class="col-6 offset-3">
                <form action="/login" novalidate class="needs-validation" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" name="username" class="form-control" placeholder="Enter ur username"
                            required>
                        <div class="invalid-feedback">
                            Add unique username. </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control" required>
                        <!-- <div class="invalid-feedback">
                            Add unique username. </div> -->
                    </div>
                    <button type="submit" class="btn btn-outline-dark col offset-5">Sign in</button>
                </form>
            </div>
        </div>
    </div>